@import com.hdigiorgi.showPhoto.model.post.{Post, PostManager, PostWithImages}
@import com.hdigiorgi.showPhoto.model._

@(paginated: PaginatedResult[PostWithImages])

@imageItem(data: PostWithImages) = {
    <div class="col-6 col-md-4 cols">
        <a href="@routes.PostController.post(data.post.id.value)">
            <img src="@data.imageUrl"/>
        </a>
        <div class="title">
            @data.post.title.value
        </div>
    </div>
}

@main("Hello", "landingBody") {

    <div class="bodyBackground"><div class="content"></div></div>
    @if(paginated.nonEmpty) {
        <style>
            .bodyBackground .content {
                background-image: url('@paginated.first.imageUrl');
            }
        </style>
    }


    <div class="container landing-image-grid-container">
        <div id="site-data-heading-container">
            <div id="site-data-heading">
                <h1>SITE NAME</h1>
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <div class="links">
                    <a class="link" href="#">
                            <i class="fab fa-twitter"></i>
                    </a>
                    <a class="link" href="#">
                            <i class="fab fa-facebook"></i>
                    </a>
                    <a class="link" href="#">
                            <i class="fab fa-youtube"></i>
                    </a>
                    <a class="link" href="#">
                            <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row">
            @for(postData <- paginated.elements) {
                @imageItem(postData)
            }
        </div>
    </div>


    @if(paginated.nonEmpty) {
        <div class="bottom-pagination">
            <ul class="pagination">
                @defining((paginated.previousPage(1), paginated.page, paginated.nextPage(1))) { case (previous, current, next) =>
                    @if(previous.isDefined) {
                        <li class="page-item"><a class="page-link" href="@routes.PostController.index(Some(previous.get.index))">Previous</a></li>
                    }
                    <li class="page-item"><a class="page-link" href="#">@current.page</a></li>
                    @if(next.isDefined) {
                        <li class="page-item"><a class="page-link" href="@routes.PostController.index(Some(next.get.index))">Next</a></li>
                    }  
                }
            </ul>
        </div>
    }

    <div id="APP" run="landing"></div>
    
}{ 
    <script src="@routes.Assets.versioned("color-thief.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/landing.js")" type="text/javascript"></script>
}
