@import com.hdigiorgi.showPhoto.model.post.Post
@import com.hdigiorgi.showPhoto.model._

@(paginated: PaginatedResult[Post])

@imageItem(post: Post) = {
    <div class="col-6 col-md-4 cols">
        <a href="@routes.PostController.post(post.id.value)">
            <img src="@post.randomImage.smallSizeUrl"/>
        </a>
        <div class="title">
            @post.title.value
        </div>
    </div>
}

@main("Hello", "landingBody") {
    @if(paginated.nonEmpty) {
        @defining(paginated.first) {firstPost =>
            <div class="bodyBackground"><div class="content"></div></div>

            @defining((
                firstPost.randomImage.palette.foreground.withAlpha(220).rgba,
                firstPost.randomImage.palette.background.withAlpha(35).rgba
            )){ case (foreground, background) =>
                <style>
                    .bodyBackground .content {
                        background-image: url('@firstPost.randomImage.smallSizeUrl');
                    }
                    #site-data-heading {
                        color: @foreground;
                        background-color: @background;
                    }
                    #profile-photo-container {
                        border-color: @foreground;
                        box-shadow: 0px 0px 16px 1px @foreground;
                    }
                </style>
            }
            
            
            <div class="container landing-image-grid-container">
                <div id="site-data-heading-container">
                    <div id="site-data-heading">
                        <h1>SITE NAME</h1>
                        <div id="profile-photo-container">

                        </div>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <div class="links">
                            <a class="link" href="#">
                                    <i class="fab fa-twitter"></i>
                            </a>
                            <a class="link" href="#">
                                    <i class="fab fa-facebook"></i>
                            </a>
                            <a class="link" href="#">
                                    <i class="fab fa-youtube"></i>
                            </a>
                            <a class="link" href="#">
                                    <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    @for(post <- paginated.elements) {
                        @imageItem(post)
                    }
                </div>
            </div>

            <div class="bottom-pagination">
                <ul class="pagination">
                    @defining((paginated.previousPage(1), paginated.page, paginated.nextPage(1))) { case (previous, current, next) =>
                        @if(previous.isDefined) {
                            <li class="page-item"><a class="page-link" href="@routes.PostController.index(Some(previous.get.index))">Previous</a></li>
                        }
                        <li class="page-item"><a class="page-link" href="#">@current.page</a></li>
                        @if(next.isDefined) {
                            <li class="page-item"><a class="page-link" href="@routes.PostController.index(Some(next.get.index))">Next</a></li>
                        }  
                    }
                </ul>
            </div>

            <div id="APP" run="landing"></div>
        }
    }

    
}{ }
