@import helper._
@import views.html.admin.form.{wrapPlainTextInput, wrapUploadInput, wrapMarkdownEditor}

@()(implicit request: RequestHeader)

@main("site", css = "mainAdminMenu") {
@admin.uploader()
@admin.simplemde()


<div class="container">
    <h1>Edit site data</h1>
    @wrapPlainTextInput("site-title", "Title", "", routes.AdminSiteController.saveTitle())

    @wrapUploadInput("site-image", "Site image", variant="image",
        process = routes.AdminSiteController.imageProcess(),
        list = routes.AdminSiteController.imageList())
        
    @wrapMarkdownEditor("site-description", "Description", "", routes.AdminSiteController.saveDescription())

</div>

<div id="APP" run="siteEdit"></div>

} { }