
.plain-text-input-form-group .badge {
    white-space: normal;
    word-break: break-all;
}
.plain-text-input-form-group label,
.plain-text-input-form-group .simple-text-informer  {
    display: inline
}
.plain-text-input-form-group .simple-text-informer .ok {
    color: #0c0;
}


.dropdown-toggle::after {
    display:none;
}

.more-ops-button {
    padding-right: 2px;
}
.more-ops-button .dropdown-toggle::after {
    display:none;
}

#publishButton.PUBLISHED {
    display: none;
}

#unpublishButton.UNPUBLISHED {
    display: none;
}
#publishIndications {
    clear: both;
}

