.full-screen-loading-doing-loading {
    opacity: 1;
    width: 100vw;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
}

.full-screen-loading-ended-loading {
    opacity: 0;
    transition: 1.25s;
}

.simple-text-informer {
    white-space: normal;
    word-break: break-all;
}
.simple-text-informer  {
    display: inline
}
.simple-text-informer .ok {
    color: #0c0;
}

.dropdown-toggle::after {
    display:none;
}

.more-ops-button {
    padding-right: 2px;
}

.more-ops-button .dropdown-toggle::after {
    display:none;
}

.side-inform-label {
    margin: 0;
}

.margin-for-top-informer {
    margin-top: 0.25em;
}


.simple-sortable-text-item {
    display: flex;
}
.simple-sortable-text-item- button,
.simple-sortable-text-item .value-holder{
    display: inline;
}
.simple-sortable-text-item >[move-handle] {
    background: transparent;
    border-style: none;
    color: #000000ba;
    cursor: move;
}
.simple-sortable-text-item >[add-new]{
    background: #04b1923b;
    border-style: none;
    color: #000000ba;
    cursor: cell;
}
