.ensime*
pc.stdout.log
ensime-*
.idea
ALL_DATA
.dev_data_files
.test_data_files
.prod_data_files
TEST_DATA
/target
/gradle
/logs
/project/project
/project/target
/client/target
/server/target
/server/public/scalajs
/server/log
/app
