.centered-container-100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

body {
    max-width: 100vw;
    overflow: hidden;
}
#menu-container .list-group {
    display: none;
}
#menu-container .menu-icon {
    line-height: 1em;
    padding-right: 5px;
    width: 1.5em;
}