#postNavbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #00000054;
    color: white;
    transition: 0.5s;
}

#imageCarousel .carousel-item,
#imageCarousel .carousel-inner {
    height: 85vh;
    max-height: 80vh;
}

#imageCarousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

#imageCarousel .carousel-control-zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff78;
    font-size: 3em;
    width: 50%;
    height: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imageCarousel .carousel-control-zoom:hover {
    color: #ffffffbb;
}

#bellowCarouselDownloadContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 5em;
    cursor: pointer;
}

#bellowCarouselDownload {
    width: 100%;
    text-align: center;
    background: #0000009f;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
    min-height: 0.5em;
    max-height: 0.5em;
    display: flex;
    place-items: center;
    justify-content: center;
}
 
#bellowCarouselDownload .icon {
    animation: wiggle 2s infinite; 
    font-size: 2em;
    transition: 1s;
}
#bellowCarouselDownloadContainer:hover #bellowCarouselDownload .icon {
    font-size: 3em;
    animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(30deg); }
   95% { transform: rotate(-30deg); }
  100% { transform: rotate(0deg); }
}

@keyframes shake {
    from {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(-10deg);
    }
}

.content-container {
    padding-top: 1em;
    overflow: hidden;
}
.title-container {
    cursor: pointer;
}
.title-container h1 {
    display: inline;
    overflow-wrap: break-word;
    font-size: 2.5em;
}
.title-container .share-button-toggle {
    opacity: 0.5;
    font-size: 1.75em;
    padding-left: 0.2em;
    transition: 1s;
}
.title-container:hover .share-button-toggle{
    animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    font-size: 2.5em;
}


.share-modal .modal-content{
    background: #0000005e;
}
.share-modal .modal-header {
    padding: 0.25em 0.5em 0.25em 0.5em;
    border: unset;
    color: #ffffffad;
}
.share-modal .modal-header .close,
.share-modal .modal-header .close:hover {
    color: white;
}
.share{
    text-align: center;
}
.share button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: black;
    color: white;
    border-width: 0;
    padding: 0;
    margin: 5px;
    border-radius: 3px;
}

.share button[data-social="twitter"] {
    background:  rgb(29, 161, 242);
}
.share button[data-social="facebook"] {
    background:  rgb(59, 89, 152);
}
.share button[data-social="pinterest"] {
    background: rgb(189, 8, 28);
}
.share button[data-social="linkedin"] {
    background: rgb(0, 119, 181);
}
.share button[data-social="reddit"] {
    background: #ff4500;
}
.share button[data-social="tumblr"] {
    background: #35465c;
}
.share button[data-social="stumbleupon"] {
    background: #eb4924;
}
.share button[data-social="blogger"] {
    background: #f57d00;
}
.share button[data-social="sms"] {
    background: rgb(0, 132, 255);
}
.share button[data-social="whatsapp"] {
    background: #25D366;
}


