@import com.hdigiorgi.showPhoto.model.post.Post
@import play.api.i18n.Messages
@import com.hdigiorgi.showPhoto.model.payments.paypal.BuyFormData


@(id: String, buyFormData: BuyFormData)(implicit messages: Messages)

@if(buyFormData.isSelling){
<div id="@id" class="attachment-listing" style="padding-top:1.75em;">

    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Downloadable files</th>
                    <th scope="col" class="text-right">Size</th>
                </tr>
            </thead>
            <tbody>
                @for(entry <- buyFormData.post.attachments){
                    <tr>
                        <td>@entry.name</td>
                        <td class="text-right">@entry.sizeString</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    

    @if(buyFormData.wasBought){
        <a id="download-button" type="submit" class="btn btn-success" style="float:right;"
           href="@routes.PostController.waitForDownload(buyFormData.post.id)">
            <i class="fas fa-file-download"></i>
            Download
        </a>
    } else{
        @payments.paypal(buyFormData){
            <button id="buy-button" type="submit" class="btn btn-warning" style="float:right;">
                <i class="fas fa-file-download"></i>
                Download (@{buyFormData.post.priceStr} USD)
            </button>
        }
    }
</div>
}

