@import com.hdigiorgi.showPhoto.model.post.Post
@import com.hdigiorgi.showPhoto.model._
@import com.hdigiorgi.showPhoto.model.site.Site

@(site: Site, post: Post)

@main("Downloading", "downloadBody", "post"){
@defining(post.randomImage){ firstImage =>
    @for(image <- firstImage) {
        <style>
            body {
                background: url('@image.postUrl.blur');
            }   
            #download-wrapper .elements{
                color: @image.palette.foreground.rgb ;
                background-color: @image.palette.background.withAlpha(200).rgba
            }
            #download-wrapper .elements a,
            #download-wrapper .elements a:hover  {
                color: @image.palette.foreground.rgb
            }
        </style>
    }

}

    <div id="download-wrapper" class="container" 
         getDownloadLink="@{routes.PostController.getDownloadLink(post.id).url}">
        <div class="elements">
            <div id="waiting">
                <div>Your download will start soon</div>
                <i class="fas fa-cog fa-spin"></i>
            </div>
            <div id="error" style="display: none">
                <i class="fas fa-sad-cry icon-error"></i>
                <div>Something went wrong, please try again</div>
            </div>
            <div id="downloading" style="display: none">
                <i class="fas fa-file-download icon-success"></i>
                <div>Downloading file</div>
                <p>
                    <a href="@routes.PostController.post(post.slug.value)">
                        <i class="fas fa-link"></i> Go back to @post.title.value
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div id="APP" run="download"></div>

}{ }    