@import play.api.i18n.Messages

@()(implicit messages: Messages)

@admin(messages("admin.index.title")) {
    <div class="container">
        <div id="menu-container" class="centered-container-100">
            <div id="main-menu" class="list-group">

                <a href="#post-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="fas fa-align-left fa-lg menu-icon"></i>
                        <h5 class="mb-1">
                            @messages("admin.index.post.title")
                        </h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.post.title.description")
                    </p>
                </a>

                <a href="#community-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="fas fa-users fa-lg menu-icon"></i>
                        <h5 class="mb-1">
                            @messages("admin.index.community.title")
                        </h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.community.title.description")
                    </p>
                </a>

                <a href="#site-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="fas fa-cogs fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.site.title")</h5>
                    </div>
                    <p class="mb-1">
                            @messages("admin.index.site.description")
                    </p>
                </a>
            </div>


            <div id="post-menu" class="list-group">

                <a href="#post-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="fas fa-pencil-alt fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.post.menu.newPost.title")</h5>
                    </div>
                    <p class="mb-1">
                            @messages("admin.index.post.menu.newPost.description")
                    </p>
                </a>

                <a href="#community-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="far fa-edit fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.post.menu.viewOrEdit.title")</h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.post.menu.viewOrEdit.description")
                    </p>
                </a>

            </div>

            <div id="community-menu" class="list-group">

                <a href="#post-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="fas fa-mail-bulk fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.community.menu.sendEmail.title")</h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.community.menu.sendEmail.description")
                    </p>
                </a>

                <a href="#community-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="far fa-user fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.community.menu.users.title")</h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.community.menu.users.description")
                    </p>
                </a>

            </div>


            <div id="site-menu" class="list-group">

                <a href="#post-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="far fa-window-maximize fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.site.data.title")</h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.site.data.description")
                    </p>
                </a>

                <a href="#community-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="far fa-save fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.site.backup.title")</h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.site.backup.description")
                    </p>
                </a>

                <a href="#community-menu" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100">
                        <i class="fas fa-server fa-lg menu-icon"></i>
                        <h5 class="mb-1">@messages("admin.index.site.server.title")</h5>
                    </div>
                    <p class="mb-1">
                        @messages("admin.index.site.server.description")
                    </p>
                </a>

            </div>

            

        </div>
    </div>

}