@import helper._
@import com.hdigiorgi.showPhoto.model.post.Post
@import views.html.admin.form.{wrapPlainTextInput, wrapUploadInput, wrapMarkdownEditor, wrapFullScreenLoading, wrapToggle}
@import views.html.admin.form.wrapConfirmable

@(post: Post)(implicit request: RequestHeader)

@main("EDIT", css="admin/forms") {
@admin.uploader()
@admin.simplemde()
    
@wrapFullScreenLoading("post-edit"){
    <div id="form-container" class="container">

        <h2>Edición de publicación</h2>

        @wrapPlainTextInput(id = "post-title", label ="Titulo", placeHolder="Escribi el titulo", 
                            value = post.title.value, 
                            save=routes.AdminPostController.saveTitle(post.id.value),
                            extraInputClass = "form-control-lg")

        @wrapUploadInput(id = "post-image", label = "Images", variant="image",
                            process = routes.AdminPostController.imageProcess(post.id.value),
                            list = routes.AdminPostController.imageList(post.id.value))


        @wrapUploadInput(id = "post-attachment", label = "Files to sell", variant="attachment",
                            process = routes.AdminPostController.attachmentProcess(post.id.value),
                            list = routes.AdminPostController.attachmentList(post.id.value)) 

        @wrapConfirmable("post-price", "Files price without transaction costs", post.priceStr,
                         save=routes.AdminPostController.savePrice(post.id.value))

        @wrapMarkdownEditor(id = "post-content", label = "Post description", value=post.rawContent,
                            save = routes.AdminPostController.saveContent(post.id.value))

        @wrapToggle(id = "post-publication-status",
                    errorInformerId = "bottomInformer",
                    isOn = post.publicationStatus.isPublished,
                    toggle = routes.AdminPostController.publicationStatus(post.id.value)){
            @* on *@
            <button id="publishButton" class="btn btn-primary float-right"  >
                <i class="fas fa-globe-americas"></i>
                Publicar
            </button>
        }{
            @* off *@
            <button id="unpublishButton" class="btn btn-secondary float-right" >
                <i class="fas fa-archive"></i>
                Despublicar
            </button>
        }{
            @* working *@
            <button id="publicationLoadingButton" class="btn btn-secondary float-right" >
                <i class="fas fa-spinner fa-pulse"></i>
            </button>
        }     
                
        <div class="btn-group float-right more-ops-button">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-eye"></i>
                    Ver publicacion
                </a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModalConfirmation">
                    <i class="far fa-trash-alt"></i>
                    Borrar
                </a>
            </div>
        </div>
            
        <div id="bottomInformer" class="float-right" style="clear: both;"></div>


        @* delete modal *@
        <div class="modal fade" id="deleteModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Estas seguro que queres eliminar la publicacion?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger">Borrar</button>
                </div>
                </div>
            </div>
        </div>
        @* delete modal *@
    </div>
} @* wrapFullScreenLoading *@

<div id="APP" run="postEdit"></div>

} { }