.filepond--image-bitmap, .filepond--image-vector{
    width: 100%!important;
}
.filepond--image-clip {
    width: 100%!important;
}
.filepond--image-canvas-wrapper {
    transform: unset!important;
    width: 100%!important;
}
.filepond--panel-root {
    background-color: transparent;
    border: 1px solid #ced4da;
}
.dropdown-toggle {
    margin-right: 5px;
}
.dropdown-toggle::after {
    display:none;
}
.filepond--file-info-sub {
    display: none;
}
.filepond--image-preview-overlay-success {
    opacity: 0!important;
}
.filepond--image-preview-overlay-idle {
    opacity: 0.9!important;
}