.qq-thumbnail-selector {
    position: relative;
    top: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.qq-upload-delete {
    position: absolute;
    top: 0;
    right: 0;
}

.qq-upload-item {
    width: 100%!important;
    max-width: 100%!important;
    height: auto!important;
}

.qq-uploader.qq-gallery {
    min-height: unset;  
}

.qq-gallery .qq-thumbnail-wrapper {
    width: 100%;
    height: 5em;
    border-radius: 5px;
    opacity: 1!important;
}

.qq-uploader.qq-gallery  {
    max-height: unset;
    height: auto;
    padding: 0 0.2em 0 0.2em;
}

.qq-gallery .qq-upload-list{
    height: auto;
    max-height: unset;
    overflow-y: hidden;
    overflow-x: hidden;
}

.qq-gallery .qq-upload-list li {
    margin: 0 0 0.5em 0;
    box-shadow: unset;
}

.qq-gallery .cancel-button i {
    font-size: 1.5em;
    padding: 5px;
    opacity: 0.2;
    color: white;
}

.qq-gallery .qq-upload-cancel {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.qq-gallery .qq-upload-cancel:hover {
    background-color: unset;
}

.qq-gallery .qq-file-name {
    position: absolute;
    top: 0;
    padding: 5px 22px 0 5px;
    width: 100%;
    opacity: 0.6;
    color: white;
}

.qq-gallery .black-gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.qq-gallery .qq-upload-button {
    width: 100%;
    background: transparent;
    box-shadow: unset;
    border: unset;
    height: 3em;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qq-gallery .qq-upload-list li.qq-upload-fail {
    background-color: #632424; 
    box-shadow: unset;
    border-radius: 5px;
}

.qq-gallery .qq-upload-retry,
.qq-gallery .qq-upload-retry:hover {
    box-shadow: unset;
    background: transparent;
    border: none;
    color: white;
    font-weight: bolder;
}

.qq-gallery .qq-upload-spinner-selector{
    position: absolute;
    top: 60%;
    right: 50%;
    font-size: 1.5em;
    color: dimgrey;
}

.qq-gallery .qq-progress-bar-container,
.qq-gallery .qq-progress-bar-container .progress{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}


#attachment-uploader .qq-gallery .black-gradient {
    display: none;
}
#attachment-uploader .qq-gallery .qq-thumbnail-wrapper {
    height: 2em;
}

#attachment-uploader .qq-gallery .qq-thumbnail-wrapper {
    background: #22332b;
}

#attachment-uploader .qq-gallery .cancel-button i {
    padding-top: 3px;
}

#attachment-uploader .qq-gallery .qq-upload-spinner-selector {
    top: 0.1em;
    display: block;
    font-size: 1.5em;
}

#attachment-uploader .progress {
    background: #457577
}

#attachment-uploader .progress-bar {
    background-color: #011f0e;
}

#form-container {
    opacity: 0;
    margin-bottom: 4em;
    margin-top: 1em;
}

#form-loading {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 3em;
}

.input-indicator {
    display: inline;
}

.input-indicator .ok {
    color: #0c0;
}