.centered-container-100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.landing-image-grid-container {
    padding: 0;
}

.landing-image-grid-container .cols {
    padding: 0;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.landing-image-grid-container img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}



.bodyBackground {
    overflow: hidden;
    min-height: 100vh;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.bodyBackground .content {
    filter: blur(10px);
    transform: scale(1.2);
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bottom-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bottom-pagination .page-item .page-link {
    background-color: #fff9;
    color: #202020;
}
.bottom-pagination .page-item .page-link:hover {
    background-color: #fffc;
}