.centered-container-100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.landing-image-grid-container {
    padding: 0;
}
.landing-image-grid-container .row {
    margin: 0;
}
.landing-image-grid-container .cols {
    padding: 0;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}
.landing-image-grid-container img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.landing-image-grid-container .cols:hover .title,
.landing-image-grid-container .cols .title-hover{
    opacity: 1;
}
.landing-image-grid-container .title {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #0000005e;
    color: #ffffffba;
    transition: 0.3s;
}

.bodyBackground {
    overflow: hidden;
    min-height: 100vh;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.bodyBackground .content {
    filter: blur(10px);
    transform: scale(1.2);
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bottom-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

.bottom-pagination .page-item .page-link {
    background-color: #ffffff82;
    color: rgba(6, 6, 6, 0.70);;
}
.bottom-pagination .page-item .page-link:hover {
    background-color: #fffc;
}

#site-data-heading-container {
    padding: 2px;
}
#site-data-heading{
    width:100%;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff8c;
    color: #000000c2;
}
#site-data-heading h1 {
    font-weight: 800;
}

@media (max-width: 576px){
    .landing-image-grid-container img {
        height: 150px;
    }
    .title {
        font-size: 0.75em;
    }
    #site-data-heading h1 {
        font-size: 2em;
    }
    #site-data-heading p {
        font-size: 0.85em;
    }
}


body {
    opacity: 0;
    transition: 2s;
}