@import helper._
@import com.hdigiorgi.showPhoto.model.post.Post

@(post: Post, images: Seq[String])(implicit request: RequestHeader)

@main("EDIT") {
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/adminPost.css")">

    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <div class="container">

        @form(CSRF(routes.AdminPostController.imageProcess(post.id.value)), 'id -> "imageProcessForm") {
            @for(image <- images) {
                <input type="hidden" value="@image">
            }
        }
        

        @form(routes.AdminPostController.save(post.id.value)) {
            @CSRF.formField
            <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Escribi el titulo">
            </div>

            <div class="form-group">
                <label>Imagenes</label>
                <input id="images-input" type="file" >
            </div>  
    
            <div class="form-group">
                <label>Archivo a vender</label>
                <input id="file-input" type="file">
            </div>

            <div class="form-group">
                <label>Descripción de la publicación</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-check"></i>
                Publicar
            </button>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">
                        <i class="far fa-trash-alt"></i>
                        Borrar
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="far fa-save"></i>
                        Guardar
                        </a>
                </div>
              </div>

        } @* end form *@

    </div>

} { 
    <script src="@routes.Assets.versioned("javascripts/adminPost.js")" type="text/javascript"></script>
}