@import helper._
@(id:String, 
  label: String, 
  value: String, 
  save: Call, 
  extraInputClass: String = "",
  placeHolder: String = "")(implicit request: RequestHeader)

<div id="@{id}-plain-text-input-form-group" class="form-group plain-text-input-form-group" >
    <label id="@{id}-label" class="side-inform-label" >@label</label>
    <span id="@{id}-input-indicator"></span>
    <input name="@id" type="text" class="form-control @extraInputClass plain-text margin-for-top-informer" save-url="@{CSRF(save)}" value="@value" placeholder="@placeHolder">
</div>
