@import com.hdigiorgi.showPhoto.model.post.{Post, PostManager, PostWithImages}

@(postsData: Seq[PostWithImages])

@imageItem(data: PostWithImages) = {
    <div class="col-6 col-md-4 cols">
        <a href="@routes.PostController.post(data.post.id.value)">
            <img src="@routes.PostController.smallImage(data.post.id.value,data.images.head)"/>
        </a>
    </div>
}

@main("Hello") {
    <div class="bodyBackground"><div class="content"></div></div>
    @if(postsData.nonEmpty) {
        <style>
            .bodyBackground .content {
                background-image: url('@routes.PostController.smallImage(postsData.head.post.id.value, postsData.head.images.head)');
            }
        </style>
    }

    <div class="container landing-image-grid-container">
        <div class="row">
            @for(postData <- postsData) {
                @imageItem(postData)
            }
        </div>
    </div>


    <div class="bottom-pagination">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>

    
}{ }
